 <%= form_for(@message) do |f| %>
       <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
   <div class="row">
      <div class="col-sm-1">名前:</div>
      <div class="col-sm-11"><%= f.text_field :name %></div>
  </div>
  <br>
  <div class="row">
     <div class="col-sm-1">内容:</div>
     <div class="col-sm-11"><%= f.text_area :body, :size=>"20x10"%></div>
  <br>
     <%= f.submit class: "btn btn-sm btn-primary" %>
</div>
  
<% end %>
